html{
  	background-color	: 	lightgray;
  	width				:	100%;
}

body{
	margin				: 	0;
	width				:	100%;
}

th{
	text-align			: 	left;
	width				: 	158px;
	background-color	: 	#999999;
}
	
.code{
	display:table-cell;
}
.name{
	display:table-cell;
}
.continent{
	display:table-cell;
}
.region{
	display:table-cell;
}
.surf{
	display:table-cell;
}
.ind{
	display:none;
}
.pop{
	display:table-cell;
}
.life{
	display:none;
}
.gnp{
	display:none;
}
.gnpold{
	display:none;
}
.localname{
	display:none;
}
.gov{
	display:none;
}
.head{
	display:none;
}
.code2{
	display:table-cell;
}
.latitude{
	display:none;
}
.longitude{
	display:none;
}
.capital{
	display:table-cell;
}
.wijzig{
	display:table-cell;
	width:70px;
}
.delete{
	display:table-cell;
	width:70px;
}
td{
	width				:	158px;
}

tbody {
    height: 400px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: auto;  /* Hide the horizontal scroll */
}
table{
	background-color	:	darkgray;
	width				: 	100%;
	padding-left		: 	0%;
	table-layout		: 	fixed;
	
}

#countryList{
	overflow			:	auto;
	width				: 	96%;
	margin-left			: 	2%;
	height				:	500px;
}

.delete, .wijzig{
	cursor				:	pointer;
}
td{
	cursor				:	default;
}

/* td:hover{ */
/* 	color				:	white; */
/* } */

/* th:hover{ */
/* 	background-color	:	white; */
/* } */

.container{
    width				:	90%;
	margin-left			:	5%;
}
.container1{
    width				:	90%;
	margin-left			:	5%;
    
}
.container2{
    width				:	90%;
	margin-left			:	5%;
}

.container .header{
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
    border				:	1px solid #d3d3d3;
}

.container1 .header1{
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
    border				:	1px solid #d3d3d3;
}
.container2 .header2{
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
    border				:	1px solid #d3d3d3;
}

.container .content{
    display: none;
    padding : 5px;
}
.container1 .content1{
    display: none;
    padding : 5px;
}
.container2 .content2{
    display: none;
    padding : 5px;
}